@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}



<!-- ====================== How It Work ================= -->
<div class="clearfix"></div>


<!-- ====================== Book Popular Hotel ================= -->
<!-- ====================== Book Popular Hotel ================= -->
<div class="clearfix"></div>

<!-- ====================== Popular Destinations ================= -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span class="theme-cl">Cirugano dentista</span>
                    <h1>Rodolfo Zamacona Bravo</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                </article>

            </div>
            <p></p>
            <p>El cirujano dentista es el profesional encargado de la salud bucal que no sólo se centra en los dientes, sino también en los diversos órganos que componen la cavidad oral. Es el encargado de prevenir, diagnosticar y tratar enfermedades y trastornos dentales y bucales, realizando procedimientos de rutina y de emergencia a los fines de mejorar la salud de sus pacientes en este particular.</p>

            <p>Mi labor se enfoca hacia la solución de: caries dental, enfermedad periodontal (tejidos de sostén del diente), malposiciones dentarias, alteraciones de la articulación temporomandibular, cáncer bucal y malformaciones de labio y paladar.</p>
            <p>Direccion:</p>
            <p>Calle rio culiacan #11000, Colonia pro hogar</p>
            <p>Mexicali, Baja California</p>
            <p>Telefono: (686) 133 5540</p>
        </div>
        
    </div>


</section>

<!-- ======================= Start Banner ===================== -->
<div class="main-banner" style="background-image: url(https://dentistas-santacatarina.com/wp-content/uploads/2020/02/DENTISTA-DELIA-SANTA-CATARINA-promociones-1.png);">
    
</div>
<!-- ======================= End Banner ===================== -->
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <div class="heading">
            <span class="theme-cl">Agenda tu</span>
            <h1>Cita</h1>
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23039BE5&ctz=America%2FTijuana&showTz=0&showTitle=1&title=DentalCloud&src=ZGF2aWQucXVldmVkb0B1YWJjLmVkdS5teA&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Y19jbGFzc3Jvb21kMWZkZDEwNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB&color=%2333B679&color=%23007b83" style="border:solid 1px #777" width="500" height="500" frameborder="0" scrolling="no"></iframe>

        </div>
        <ul class="nav navbar-nav navbar-center" >
            <li class="sign-up"><a class="btn-signup red-btn" href="@Url.Action("Registro_cita","Perfil")">Agendar cita</a></li>
        </ul>
    </div>

</div>