@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}



<!-- ====================== How It Work ================= -->
<div class="clearfix"></div>


<!-- ====================== Book Popular Hotel ================= -->
<!-- ====================== Book Popular Hotel ================= -->
<div class="clearfix"></div>

<!-- ====================== Popular Destinations ================= -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span class="theme-cl">Resultados de tu</span>
                    <h1>Busqueda</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="#">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/280102303_5521080884583065_6089100464875362435_n.png?_nc_cat=109&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeFI9RJAWXbHmmeWPrIGqt5KgRFpsDS_lNyBEWmwNL-U3NDTntG2yrki_voUuVr9dic&_nc_ohc=iz7BUcoUZtEAX81yl9X&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT8wtygpYqhOknICWYJM-S-EftzmlUQPb47njbmkXehKZA&oe=62848C1C" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">Clinica dental Vela</a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t39.30808-6/245611240_10160254061187216_7734145838163416897_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=174925&_nc_eui2=AeFweUXc1g6vJ6C00jSwnXAwFEBTP-k3lkwUQFM_6TeWTCpsgeoe_tK5XX6knatmcwU&_nc_ohc=asXPxjrNijoAX8yl1eL&tn=WLtyeWfBHcgBiuag&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT85aSjOAvqyOF_fq0kyXFAcvyqKNTtr6xpZox7ovNIScA&oe=6284A6FB" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">C.D. Rodolfo Zamacona </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="destination-detail.html">
                                <img src="https://scontent.fmxl1-1.fna.fbcdn.net/v/t1.6435-9/89965609_590223124901810_8737248182091644928_n.jpg?_nc_cat=109&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeEpwTOp-qM2bflXeY9EamVDK4ofdhGvHzkrih92Ea8fOVYG3atXUq2WEl44bAu4hVo&_nc_ohc=E2uGfAGzJdIAX-g2D3G&_nc_ht=scontent.fmxl1-1.fna&oh=00_AT8S8Wy5Iiit2wY9XVrDn94xGWAWKXJ_o53203TsEWTJLA&oe=62A42E9B" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <h4 class="destination-place">
                                <a href="destination-detail.html">Dentu</a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="text-through"></span><span class="real-price padd-l-10 font-bold">Excelente</span>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="destination-detail.html">Ver mas</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

        </div>

    </div>
</section>
<!-- ====================== Popular Destinations ================= -->
<div class="clearfix"></div>

<!-- ======================= Start Banner ===================== -->
<div class="main-banner" style="background-image: url(https://enbatadental.com/wp-content/uploads/2021/05/img2.jpg);">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

            <div class="caption text-center cl-white">
                <h2>La sonrisa de un rey en la web</h2>
                <p>Busca a tu especialista</p>
            </div>

            <form class="wow-form">
                <input type="text" placeholder="Buscar...">
                <button type="submit" class="btn btn-wow theme-btn" name="submit" value="Search"> Buscar </button>
            </form>

        </div>
    </div>
</div>
<!-- ======================= End Banner ===================== -->
<div class="clearfix"></div>