@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}



<!-- ====================== How It Work ================= -->
<div class="clearfix"></div>


<!-- ====================== Book Popular Hotel ================= -->
<!-- ====================== Book Popular Hotel ================= -->
<div class="clearfix"></div>

<!-- ====================== Popular Destinations ================= -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span class="theme-cl">Cirugano dentista</span>
                    <h1>Rodolfo Zamacona Bravo</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <p>nombre del paciente: <input type="text" name="nombre" /></p>
            <p>Procedimiento a realizarse: <input type="text" name="procedimiento" /></p>
            <p>Edad: <input type="text" name="edad" /></p>
            <p>Seguro medico (en caso de contar): <input type="text" name="seguro" /></p>
            <p>Telefono de contacto: <input type="text" name="telefono" /></p>
            <p>¿Es usted un paciente nuevo? <input type="text" name="nuevo" /></p>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li class="sign-up"><a class="btn-signup red-btn" href="@Url.Action("Index","Home")">Agendar cita</a></li>
        </ul>
    </div>


</section>

